@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
}
body {
  font-family: "Questrial", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
button {
  outline: none;
  border: none;
}

hr {
  border: 0;
}

::-webkit-scrollbar {
  width: 0;
}
